svg {
  display: inline-block;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}


.rsm-geography path {
  fill: #a7a3a38a;
}
#SVGRepo_iconCarrier path{
  fill: #df5454 !important;
}
html.light .map-chart path,
html.light .rsm-geography path,
body.light .rsm-geography path,
html.light .rsm-geography.rsm-geography path,
body.light .rsm-geography.rsm-geography path {
  fill: hwb(0 74% 22%) !important;
  stroke: hwb(0 74% 22%) !important;
  stroke-width: 1;
}

html.dark .map-chart path,
html.dark .rsm-geography path,
body.dark .rsm-geography path {
  fill: #2a354d !important;
  stroke: none !important;
}